{% extends "Theme/"+_controller.__themeName+"/template/2.njk" %} 

{% block _section_header %}
<h1>
    {{page.title}}
</h1>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> {{page.title}}</a></li>
</ol>
{% endblock %} 

{% block _section_content %}
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa  fa-question"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">FAQ</span>
                <span class="info-box-number">{{total.faq}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
        
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-comments-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">BLOG PAGES</span>
                <span class="info-box-number">{{total.blog}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->

        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">USERS</span>
                <span class="info-box-number">{{total.users}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->

        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-dropbox"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">PRODUCTS</span>
                <span class="info-box-number">{{total.products}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>
{% endblock %}