{% extends "Theme/"+_controller.__themeName+"/template/1.njk" %}

{% block _section %}
<div class="login-box">
    <div class="login-logo">
        <a href="/test/"><b>Atlas</b>Store</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body box">
        <p class="login-box-msg">Sign in to start your session</p>

        <form action="{{form.action}}" method="post">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email" name="email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" name="password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-12  text-right">
                    <button type="button" class="btn btn-primary btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <div class="overlay" style="display:none;">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{% endblock %}