{% macro link(style) %}
    {% for item in style %}
        <link rel="stylesheet" href="{{ item.href }}" data-name="{{ item.name }}">
    {% else %}
    {% endfor %}
{% endmacro %}

{% macro script(scripts) %}
    {% for items in scripts %}
        <script src="{{ items.src }}" data-name="{{ items.name }}"></script>
    {% else %}
    {% endfor %}
{% endmacro %}
