{% import "Macros/Assets.njk" as _Assets %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{{_seo_title}}</title>
    <meta content="{{csrfToken}}" name="_csrf" />
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/_Theme/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/_Theme/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/_Theme/AdminLTE/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/_Theme/AdminLTE/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/_Theme/AdminLTE/plugins/iCheck/square/blue.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"> 
    {{ _Assets.link(_assets.style) }}
    {% block _css %}{% endblock %}
</head>

<body class="hold-transition login-page" data-pageName="{{_pageName}}" data-theme="AdminLTE">

    <header>{% block _header %}{% endblock %}</header>
    <section>{% block _section %}{% endblock %}</section>
    <footer>{% block _footer %}{% endblock %}</footer>
    
    {% block _model %}{% endblock %}
    {% include "Includes/Loader.njk" %}

    <!-- jQuery 3 -->
    <script src="/_Theme/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/_Theme/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="/_Theme/AdminLTE/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function() {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
    {{ _Assets.script(_assets.script) }}
    {% block _script %}{% endblock %}
</body>

</html>