{% import "Macros/Assets.njk" as _Assets %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>{{_seo_title}}</title>

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"> 
    {{ _Assets.link(_assets.style) }} 
    {% block _css %}{% endblock %}
</head>

<body data-pageName="{{_pageName}}" data-theme="Default">

    <header>{% block _header %}{% endblock %}</header>
    <section>
        {% block _section %}<h1>{{_pageName}}, world!</h1>{% endblock %}
    </section>
    <footer>{% block _footer %}{% endblock %}</footer>
  
    {% block _model %}{% endblock %}
    {% include "Includes/Loader.njk" %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>    
    {{ _Assets.script(_assets.script) }}
    {% block _script %}{% endblock %}
</body>

</html>