<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="/admin/dashboard/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
        </li>
        <li class="header">CMS</li>
        <li class="treeview">
            <a href="#" data-toggle="control-sidebar">
                <i class="fa  fa-comments"></i>
                <span>CMS</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/admin/cms/pages/"><i class="fa fa-file"></i> Pages</a></li>
                <li><a href="/admin/cms/images/"><i class="fa  fa-image"></i> Images</a></li>
                <li><a href="/admin/cms/faq/"><i class="fa fa-question"></i> <span>FAQ</span></a></li>
                <li><a href="/admin/cms/categories/"><i class="glyphicon glyphicon-th-large"></i> Categories</a></li>
                <li><a href="/admin/cms/tags/"><i class="fa fa-tags"></i> Tags</a></li>
                <li><a href="/admin/cms/setting/"><i class="fa fa-cogs"></i> Setting</a></li>
            </ul>
        </li>
    </ul>
</section>
<!-- /.sidebar -->