{% extends "Theme/"+_controller.__themeName+"/template/2.njk" %} {% block _section_header %}
<h1>
    {{page.title}}
    <a class="btn btn-flat btn-sm btn-success" href="{{page.addNew}}">
        <i class="fa fa-plus"></i> Add New
    </a>
</h1>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> {{page.title}}</a></li>
</ol>
{% endblock %} {% block _section_content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Answer</th>
                            <th>Added By</th>
                            <th>Added Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Question</th>
                            <th>Answer</th>
                            <th>Added By</th>
                            <th>Added Date</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
{% endblock %} {% block _css_before %}
<link rel="stylesheet" href="/_Theme/AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css"> {% endblock %} {% block _script %}
<script src="/_Theme/AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/_Theme/AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
    $(function() {
        $('#example1').DataTable()
    });
</script>
{% endblock %}